.divstyle {
    width: 100px;
    height: 60px;
    color: rgb(33, 116, 133);
    background-color: beige;
    border-radius: 15%;
    padding: 15px, 15px, 5px, 5px;
    margin: 7%;
}

image {
    border-radius: 6%;
    border-style: double;
}

button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}