<navbar class="navbar-container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="logo-container"><img src="../requirements/imges/LOGO2.png" alt="Profile Image" width=""
            class="profile-image">
    </div>

    <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <ul class="nav-items">
        <li class="nav-link"><a href="index.html">Home</a></li>
        <li class="nav-link"><a href="prodect.html">prodect</a></li>
        <li class="nav-link"><a href="contact.html">Contact</a></li>
        <li class="nav-link"><a href="about.html">About</a></li>
        <div class="login-register">
            <a href="Login_Register.php" class="button">Login</a>

        </div>
    </ul>
</navbar>