<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../requirements/css/bootstrap-css-floder/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../requirements/css/header.css">


    <link rel="stylesheet" href="../requirements/css/footer.css">
    <link rel="stylesheet" href="../requirements/css/style.css">
    <link rel="stylesheet" href="../requirements/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../requirements/css/slider.css">

</head>

<body>

    <!-- Header / Navbar -->

    <div id="header-placeholder">

    </div>
    <!-- Header Section End Here -->
    <!--start Hero Section -->
    <section class="slider-section">
        <div class="slider">


            <div class="list">

                <div class="item">
                    <img src="../requirements/imges/slider/slider1.jpeg" alt="">

                    <div class="content">
                        <div class="title">MAGIC SLIDER</div>
                        <div class="type">FLOWER</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum
                            consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum
                            dolor
                            sit amet consectetur adipisicing elit. Sequi, aut.
                        </div>
                        <div class="button">
                            <button>SEE MORE</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="../requirements/imges/slider/slider2.jpeg" alt="">

                    <div class="content">
                        <div class="title">MAGIC SLIDER</div>
                        <div class="type">NATURE</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum
                            consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum
                            dolor
                            sit amet consectetur adipisicing elit. Sequi, aut.
                        </div>
                        <div class="button">
                            <button>SEE MORE</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="../requirements/imges/slider/slider3.jpeg" alt="">

                    <div class="content">
                        <div class="title">MAGIC SLIDER</div>
                        <div class="type">PLANT</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum
                            consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum
                            dolor
                            sit amet consectetur adipisicing elit. Sequi, aut.
                        </div>
                        <div class="button">
                            <button>SEE MORE</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="../requirements/imges/slider/slider4.jpeg" alt="">

                    <div class="content">
                        <div class="title">MAGIC SLIDER</div>
                        <div class="type">NATURE</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum
                            consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum
                            dolor
                            sit amet consectetur adipisicing elit. Sequi, aut.
                        </div>
                        <div class="button">
                            <button>SEE MORE</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="thumbnail">

                <div class="item">
                    <img src="../requirements/imges/slider/slider1.jpeg" alt="">
                </div>
                <div class="item">
                    <img src="../requirements/imges/slider/slider2.jpeg" alt="">
                </div>
                <div class="item">
                    <img src="../requirements/imges/slider/slider3.jpeg" alt="">
                </div>
                <div class="item">
                    <img src="../requirements/imges/slider/slider4.jpeg" alt="">
                </div>

            </div>


            <div class="nextPrevArrows">
                <button class="prev">
                    < </button>
                        <button class="next"> > </button>
            </div>


        </div>
    </section>
    <!--end Hero Section -->
    <section class="slider-section">
        <div class="wrapper img-box track">

            <!-- Original items -->
            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/slider1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <!-- Duplicate the SAME items again (for seamless loop) -->
            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/slider1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

            <div class="single-cards">
                <img class="img-Cards" src="../requirements/imges/prdects1.jpg" alt="">
                <div class="overlay">
                    <button class="view-details" onclick="greetUser()">View Details</button>
                </div>
            </div>

        </div>
    </section>
    <!-- End Hero Section -->

    <!--start Category Section-->

    <!--end Category Section-->
    <section>
        <div id="box" class="wrapper">



        </div>
    </section>
    <!-- /.container -->

    <!-- Category Tab Slider Area End -->

    <!-- Footer -->

    <div id="footer-placeholder"></div>
</body>
<script src="../requirements/js/datalist.js"></script>

<!-- JavaScript to load the header -->
<script>
    fetch('includes/header.html')
        .then(response => {
            if (!response.ok) throw new Error('Header file not found');
            return response.text();
        })
        .then(data => {
            document.getElementById('header-placeholder').innerHTML = data;

            const bar = document.querySelector('.bars');
            const navItem = document.querySelector('.nav-items');

            if (bar && navItem) {
                bar.addEventListener('click', () => {
                    navItem.classList.toggle('active');
                });
            }
        })
        .catch(error => console.error('Error loading header:', error));
</script>
<script>
    fetch('includes/footer.html')
        .then(response => {
            if (!response.ok) throw new Error('Footer file not found');
            return response.text();
        })
        .then(data => {
            document.getElementById('footer-placeholder').innerHTML = data;
        })
        .catch(error => console.error('Error loading footer:', error));
</script>
<script src="../requirements/js/hero-section-slider.js"></script>
<!-- JavaScript to load the foter -->

<script>
    let bar = document.querySelector('.bars'),
        navItem = document.querySelector('.nav-items');

    bar.addEventListener('click', () => {
        navItem.classList.toggle('active');
    })

    // Function definition
    function greetUser() {
        alert("Hello, world!");
    }

    // Function with a parameter and return value
    function hide() {
        const box = document.getElementById("box");
        const button = document.querySelector('button');
        button.innerText = "show";
        if (box.style.display === "none") {
            box.style.display = "block";
            button.style.backgroundColor = '#666';

        } else {
            box.style.display = "none";
        }

    }
</script>
<script src="../requirements/js/bootstrap.bundle.min.js"></script>
<script src="../requirements/js/search.js"></script>


</html>